body, html {
    margin: 0;
    height: 100%;
    color: #FFFFFF
}


* {
    box-sizing: border-box;
}

.bg-img {
    /* The image used */
    background-image: url("galaxy.png");

    /* Control the height of the image */
    min-height: 380px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Add styles to the form container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
    right: 0;
    margin: 50px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
}

/* Full-width input fields */
input[type=number] {
    width: 10%;
    padding: 5px;
    margin: 5px 0 22px 0;
    border: #000000;
    background: #f1f1f1;
}

input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}